<mat-grid-list cols="3" rowHeight="75px">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <h1>My Budget</h1>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="3" rowHeight="40px">
    <mat-grid-tile><h2>Total Funds</h2></mat-grid-tile>
    <mat-grid-tile><h2>Unassigned Funds</h2></mat-grid-tile>
    <mat-grid-tile [rowspan]="2">
        <button mat-fab color="warn" (click)="onTransfer()">
            Transfer
        </button>
    </mat-grid-tile>
    <mat-grid-tile><h3>${{ total }}</h3></mat-grid-tile>
    <mat-grid-tile><h3>${{ added }}</h3></mat-grid-tile>
</mat-grid-list>
<hr>

<!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">My Budget</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a href="#">Budget</a>
                </li>
                <li routerLinkActive="active">
                    <a href="#">Net Worth</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                </li>
                <li>
                </li>
                <li>
                    <a href="#">${{ total }}</a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->