<!-- <div class="row">
    <div class="col-xs-2">
        <h4>{{ expense.name }}   </h4>
    </div>
    <div class="col-xs-2">
        <h4>
            ${{ expense.currentTotal }}
        </h4>
    </div>
    <div class="col-xs-2">
        <h4>
            ${{ expense.weeklyAdd }}
        </h4>
    </div>
    <div class="col-xs-2">
        <h4>
            ${{ expense.target }}
        </h4>
    </div>
    <div class="col-xs-2">
         <input type="text" class="form-control">
        <mat-form-field class="example-form-field">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text">    
        </mat-form-field>
    </div>
    <div class="col-xs-2">
            <button class="btn btn-primary" (click)="onAdd()">Add</button>
            <button mat-button (click)="onAdd()">Add</button>
    </div>
</div> -->

<mat-card>
    <div class="card-container">
        <mat-card-title class="card-title-left">{{ expense.name }} Fund</mat-card-title>
        <mat-card-title class="card-title-right"><h2>Target: ${{ expense.target }}</h2></mat-card-title>
    </div>
    <mat-card-subtitle>
        <h3>Current Total: ${{ expense.currentTotal }}</h3>
    </mat-card-subtitle>
  <mat-card-actions class="card-actions-container">
    <div>
        <mat-form-field class="example-form-field" appearance="fill">
        <span matPrefix>$ &nbsp;</span>
        <input matInput class="amount" type="text">
        <button matSuffix mat-icon-button aria-label="Clear"></button>
        </mat-form-field>
            <button mat-mini-fab class="plus" aria-label="Example icon button with a plus one icon">
            +
          </button>
          <button mat-mini-fab class="minus" aria-label="Example icon button with a plus one icon">
            -
          </button>
    </div>
    
      <div class="actions-right">
        <button class="card-actions" mat-button>EDIT</button>
        <button class="card-actions" mat-button>DELETE</button>
      </div>
  </mat-card-actions>
</mat-card>
<br>