.tile-text{
    font-size: medium;
}

mat-card{
    background-color: rgb(247, 247, 247);

}

.card-container{
    display: flex;
    justify-content: space-between;
}

.card-actions-container{
    display: flex;
    justify-content: space-between;
}
.card-actions{
    padding-top: 10%
}

.plus{
    background-color: green;
    color: white;
}

.minus{
    background-color: darkred;
    color: white;
}

