<h2 mat-dialog-title>Add New Expense: </h2>
<form  >
<div mat-dialog-content class="mat-typography">
    <label for="expense-name"></label>
    <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Expense Title:</mat-label>
          <input 
            type="text"
            id="expenseTitle"
            matInput 
            [(ngModel)]="expense.name"
            name="expenseTitle"
            required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label for="goal">Goal:</mat-label>
          <span matPrefix>$ &nbsp;</span>
          <input 
              type="number"
              id="goal"
              matInput 
              [(ngModel)]="expense.target"
              name="goal"
              required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Current Amount:</mat-label>
          <span matPrefix>$ &nbsp;</span>
          <input 
              type="number"
              id="currentTotal"
              matInput 
              [(ngModel)]="expense.currentTotal"
              name="currentTotal"
              required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Amount to Add Weekly:</mat-label>
          <span matPrefix>$ &nbsp;</span>
          <input 
              type="number"
              id="weeklyAdd"
              matInput 
              [(ngModel)]="expense.weeklyAdd"
              name="weeklyAdd"
              required>
        </mat-form-field>
      </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="onSubmit()">Submit</button>
  <button mat-button mat-dialog-close>Cancel</button>
</div>

</form>
